<link rel="import" href="../../bower_components/polymer/polymer.html">
<script src="../../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="./numeric-spinner.html">


<dom-module id="tablet-player">
	<template>
		<custom-style>
			<style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
		</custom-style>

		<style>
		.content {
			height: 100%;
		}

		.name {
			padding-top: 2.5vh;
			font-size: 5vh;
			text-align: center;
		}

		.life {
			font-size: 50vh;
			width: 100%;
			/* min-height: 50vh; */
		}

		.poison, .games {
			font-size: 15vh;
			width: 100%;
		}

		.label {
			padding-bottom: 2.5vh;
			text-align: center;
			font-size: 3vh;
			/* color: #44475a; */

			color: white;
			opacity: 0.4;
		}

		.lifes {
			border-bottom: 2px solid rgba(255, 255, 255, 0.1);
		}

		/* .poison {
			flex: unset;
			width: 40%;
			margin: 0 auto;
			background: rgba(120, 240, 120, 0.25);
			border-radius: 5%;
		}
		.games {
			display: none;
		} */

		.labels {
			height: 0;
			overflow: visible;
		}

		.label {
			position: relative;
			top: -4.5vh;
		}
		</style>

		<div class="content layout vertical justified">
			<div class="name">{{player.name}}</div>
			<div class="layout horizontal lifes">
				<numeric-spinner class="life flex" value="{{player.life}}"></numeric-spinner>
			</div>
			<div class="layout horizontal extras">
				<numeric-spinner class="poison flex spinner" value="{{player.poison}}"></numeric-spinner>
				<numeric-spinner class="games flex spinner" value="{{player.games}}"></numeric-spinner>
			</div>
			<div class="layout horizontal labels">
				<div class="poison flex label">Poison</div>
				<div class="games flex label">Games</div>
			</div>
		</div>
	</template>
	<script>
		(function () {
			class TabletPlayer extends Polymer.Element {
				static get is() {
					return "tablet-player";
				}

				static get properties() {
					return {
						player: {
							type: Object,
							notify: true
						}
					}
				}
			}

			customElements.define(TabletPlayer.is, TabletPlayer);
		})()
	</script>
</dom-module>
