@font-face {
	font-family: 'Bebas Neue Light';
	src: url('../fonts/BebasNeue Book.otf');
}

@font-face {
	font-family: 'Bebas Neue Regular';
	src: url('../fonts/BebasNeue Regular.otf');
}

@font-face {
	font-family: 'Bebas Neue Bold';
	src: url('../fonts/BebasNeue Bold.otf');
}

/* Tusk Theme */
/* body {
  --color-background-primary: #292b2e;
  --color-background-secondary: #292b2e;
  --color-text-primary: #F0EAEC;
  --color-text-secondary: #F0EAEC;
  --color-accent-primary: #bb7c3e;
  --color-accent-secondary: #989E90;
  --color-accent-tertiary: #D1A770;
} */

/* Wincon Theme */
body {
  --color-background-primary: #292b2e;
  --color-background-secondary: #292b2e;
  --color-text-primary: rgb(240, 240, 240);
  --color-text-secondary: rgb(240, 240, 240);
  --color-accent-primary: #0c5dc6;
  --color-accent-secondary: rgb(156, 156, 156);
  --color-accent-tertiary: #5e8fce;
}

body {
	margin: 0;

	font-family: 'Bebas Neue Bold';
	color: var(--color-text-primary);
}
