<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/nodecg-replicant/nodecg-replicant.html">
<link rel="import" href="debounce-value.html">

<dom-module id="debounce-replicant">
	<template>
		<nodecg-replicant replicant-name="[[replicantName]]" replicant-bundle="[[replicantBundle]]" value="{{_replicantValue}}"></nodecg-replicant>
		<debounce-value source="[[_replicantValue]]" destination="{{value}}" wait="[[wait]]"></debounce-value>
	</template>
	<script>
		(function() {
			class DebounceReplicant extends Polymer.Element {
				static get is() {
					return 'debounce-replicant';
				}

				static get properties() {
					return {
						replicantName: String,
						replicantBundle: String,
						_replicantValue: Object,
						value: {
							type: Object,
							notify: true
						},
						wait: Number
					}
				}
			}

			customElements.define(DebounceReplicant.is, DebounceReplicant);
		})();
	</script>
</dom-module>
